<div id="categories" [ngClass]="{container: true, component: true, animated: true, float: !activeState, fadeOutLeft: !activeState, fadeInRight: activeState}">
  <div class="component">
    <h3>Categories</h3>
    <ul class="list-group">
      <li id="list-characters" class="list-group-item" (click)="onCategoryClick(CategoryConstant.PEOPLE)"><Button class="btn btn-default">Characters</Button></li>
      <li id="list-films" class="list-group-item" (click)="onCategoryClick(CategoryConstant.FILMS)"><Button class="btn btn-default">Films</Button></li>
      <li id="list-species" class="list-group-item" (click)="onCategoryClick(CategoryConstant.SPECIES)"><Button class="btn btn-default">Species</Button></li>
      <li id="list-starships" class="list-group-item" (click)="onCategoryClick(CategoryConstant.STARSHIPS)"><Button class="btn btn-default">Starship</Button></li>
      <li id="list-vehicles" class="list-group-item" (click)="onCategoryClick(CategoryConstant.VEHICLES)"><Button class="btn btn-default">Vehicles</Button></li>
      <li id="list-planets" class="list-group-item" (click)="onCategoryClick(CategoryConstant.PLANETS)"><Button class="btn btn-default">Planets</Button></li>
    </ul>
  </div>
</div>