<!--The content below is only a placeholder and can be replaced.-->

<h1>Starpedia</h1>
<h4>An (improbably) comprehensive guide on Star Wars!</h4>


<button [ngClass] = "{btn: true, 'btn-disabled': !canBack, hidden: !canBack, 'btn-primary': canBack}" (click)="pageBack()">Back</button>

<div>
    <app-categories #categories (categorySelect)="loadCategory($event); categoryItems.toggleState()"></app-categories>
    <app-category-items #categoryItems (itemSelect)="loadItem($event); itemDetails.onPageArrival()" [category]="category"
        [items]="items"></app-category-items>
    <app-item-details #itemDetails [item]="item"></app-item-details>
</div>