/* You can add global styles to this file, and also import other style files */
body{
    color: #faf5f0;
    background-color: #191112;
}

.container{
    position: absolute;
}

.hidden{
    visibility: hidden;
}
