<div #itemDetails [ngClass]="{container: true, animated: true, hidden: !activeState, float: !activeState, fadeOutLeft: !activeState, fadeInRight: activeState}">
  <div *ngIf="currCategory == 'people'">
    <h2>{{$any(item).name}}</h2>
    <div><img src="{{imageUrl}}" style="max-height: 30vh; max-width: 30vw"></div>
    <div class="text-capitalize"><span class="item-key">Height:</span> {{$any(item).height}}</div>
    <div class="text-capitalize"><span class="item-key">Mass:</span> {{$any(item).mass}}</div>
    <div class="text-capitalize"><span class="item-key">Hair Color:</span> {{$any(item).hair_color}}</div>
    <div class="text-capitalize"><span class="item-key">Birth year:</span> {{$any(item).birth_year}}</div>
    <div class="text-capitalize"><span class="item-key">Gender:</span> {{$any(item).gender}}</div>
    <div><span class="item-key">Home World:</span> {{$any(item).homeworld}}</div>

    <div><span class="item-key">Notes</span></div>
  </div>

  <div *ngIf="currCategory == 'film'">
    <h2>{{$any(item).title}}</h2>
    <div><img src="{{imageUrl}}" style="max-height: 30vh; max-width: 30vw"></div>
    <div class="text-capitalize"><span class="item-key">Episode ID:</span> {{$any(item).episode_id}}</div>
    <div class="text-capitalize"><span class="item-key">Opening Crawl:</span> {{$any(item).opening_crawl}}</div>
    <div class="text-capitalize"><span class="item-key">Director:</span> {{$any(item).director}}</div>
    <div class="text-capitalize"><span class="item-key">Producer:</span> {{$any(item).producer}}</div>
    <div class="text-capitalize"><span class="item-key">Release date:</span> {{$any(item).release_date}}</div>


  </div>


  <div *ngIf="currCategory == 'species'">
    <h2>{{$any(item).name}}</h2>
    <div><img src="{{imageUrl}}" style="max-height: 30vh; max-width: 30vw"></div>
    <div class="text-capitalize"><span class="item-key">Classification:</span> {{$any(item).classification}}</div>
    <div class="text-capitalize"><span class="item-key">Designation:</span> {{$any(item).designation}}</div>
    <div class="text-capitalize"><span class="item-key">Average Height:</span> {{$any(item).average_height}}</div>
    <div class="text-capitalize"><span class="item-key">Skin Colors:</span> {{$any(item).skin_colors}}</div>
    <div class="text-capitalize"><span class="item-key">Hair Colors:</span> {{$any(item).hair_colors}}</div>
    <div class="text-capitalize"><span class="item-key">Eye Colors:</span> {{$any(item).eye_colors}}</div>
    <div class="text-capitalize"><span class="item-key">Average Lifespan:</span> {{$any(item).average_lifespan}}</div>
    <div class="text-capitalize"><span class="item-key">Homeworld:</span> {{$any(item).homeworld}}</div>
    <div class="text-capitalize"><span class="item-key">Language:</span> {{$any(item).language}}</div>
  </div>


  <div *ngIf="currCategory == 'starship'">
    <h2>{{$any(item).name}}</h2>
    <div><img src="{{imageUrl}}" style="max-height: 30vh; max-width: 30vw"></div>
    <div class="text-capitalize"><span class="item-key">Name:</span> {{$any(item).name}}</div>
    <div class="text-capitalize"><span class="item-key">Model:</span> {{$any(item).model}}</div>
    <div class="text-capitalize"><span class="item-key">Manufacturer:</span> {{$any(item).manufacturer}}</div>
    <div class="text-capitalize"><span class="item-key">Cost in Credit:</span> {{$any(item).cost_in_credit}}</div>
    <div class="text-capitalize"><span class="item-key">Length:</span> {{$any(item).length}}</div>
    <div class="text-capitalize"><span class="item-key">Max Atmosphering Speed:</span> {{$any(item).max_atmosphering_speed}}</div>
    <div class="text-capitalize"><span class="item-key">Crew:</span> {{$any(item).crew}}</div>
    <div class="text-capitalize"><span class="item-key">Passengers:</span> {{$any(item).passengers}}</div>
    <div class="text-capitalize"><span class="item-key">Cargo Capacity:</span> {{$any(item).cargo_capacity}}</div>
    <div class="text-capitalize"><span class="item-key">Consumables:</span> {{$any(item).consumables}}</div>
    <div class="text-capitalize"><span class="item-key">Hyperdrive Rating:</span> {{$any(item).hyperdrive_rating}}</div>
    <div class="text-capitalize"><span class="item-key">MGLT:</span> {{$any(item).mglt}}</div>
    <div class="text-capitalize"><span class="item-key">Starship Class:</span> {{$any(item).starship_class}}</div>
  </div>


  <div *ngIf="currCategory == 'vehicle'">
    <h2>{{$any(item).name}}</h2>
    <div><img src="{{imageUrl}}" style="max-height: 30vh; max-width: 30vw"></div>
    <div><span class="item-key">Model:</span> {{$any(item).model}}</div>
    <div><span class="item-key">Manufacturer:</span> {{$any(item).manufacturer}}</div>
    <div><span class="item-key">Cost in Credit:</span> {{$any(item).cost_in_credit}}</div>
    <div><span class="item-key">Length:</span> {{$any(item).length}}</div>
    <div><span class="item-key">Max Atmosphering Speed:</span> {{$any(item).max_atmosphering_speed}}</div>
    <div><span class="item-key">Crew:</span> {{$any(item).crew}}</div>
    <div><span class="item-key">Passengers:</span> {{$any(item).passengers}}</div>
    <div><span class="item-key">Cargo Capacity:</span> {{$any(item).cargo_capacity}}</div>
    <div><span class="item-key">Consumables:</span> {{$any(item).consumables}}</div>
    <div><span class="item-key">Vehicle Class:</span> {{$any(item).vehicle_class}}</div>
  </div>


  <div *ngIf="currCategory == 'planet'">
    <h2>{{$any(item).name}}</h2>
    <div><img src="{{imageUrl}}" style="max-height: 30vh; max-width: 30vw"></div>
    <div><span class="item-key">Rotation Period:</span> {{$any(item).rotation_period}}</div>
    <div><span class="item-key">Orbital Period:</span> {{$any(item).orbital_period}}</div>
    <div><span class="item-key">Diameter:</span> {{$any(item).diameter}}</div>
    <div><span class="item-key">Climate:</span> {{$any(item).climate}}</div>
    <div><span class="item-key">Gravity:</span> {{$any(item).gravity}}</div>
    <div><span class="item-key">Terrain:</span> {{$any(item).terrain}}</div>
    <div><span class="item-key">Surface Water:</span> {{$any(item).surface_water}}</div>
    <div><span class="item-key">Population:</span> {{$any(item).population}}</div>
  </div>
</div>